<p-toast></p-toast>
<div class="p-col-12">
    <h5>Add Hiv Status Registration</h5>
    <div class="card">
        <p-toolbar styleClass="p-mb-4">
            <ng-template pTemplate="left">
                <button pButton pRipple label="Save" icon="pi pi-plus" class="p-mr-2 p-mb-2" 
                (click)="addHivstatusatregistration()"></button>
                <button pButton pRipple label="Clear" icon="pi pi-trash" class="p-mb-2"></button>
            </ng-template>

            <ng-template pTemplate="right">
                <button pButton pRipple label="Back" (click)="goBack()" icon="pi pi-chevron-left" class="p-button-help p-mb-2"></button>
            </ng-template>
        </p-toolbar>

        <div class="p-grid p-formgrid p-fluid">
           
        <div class="p-col-4 p-field">
            <label for="name">Hiv Status At Registration Name</label>
            <input id="name" type="name" pInputText [(ngModel)]="hivstatusatregistrationcreatedata.name" aria-describedby="name-help" 
            placeholder="Enter Hiv Status Name">

        </div>

        <div class="p-col-4 p-field">
            <label for="code">Code </label>
            <input id="code" type="code" pInputText [(ngModel)]="hivstatusatregistrationcreatedata.code" aria-describedby="code-help" 
            placeholder="Enter Hiv Status Code" required>
        </div>

        <div class="p-col-8 p-field">
            <label for="description">Hiv Status At Registration Description </label>
            <textarea rows="5" cols="30" placeholder="Enter Hiv Status Description" [(ngModel)]="hivstatusatregistrationcreatedata.description" pInputTextarea ></textarea>
        </div>

        
    </div>
      
        
    </div>
</div>

