<p-toast></p-toast>
<div class="p-col-12">
    <h5>Add Nationality</h5>
    <div class="card">
        <p-toolbar styleClass="p-mb-4">
            <ng-template pTemplate="left">
                <button pButton pRipple label="Save" icon="pi pi-plus" class="p-mr-2 p-mb-2" 
                (click)="addNationality()"></button>
                <button pButton pRipple label="Clear"  class="p-mb-2"></button>
            </ng-template>

            <ng-template pTemplate="right">
                <button pButton pRipple label="Back" (click)="goBack()" icon="pi pi-chevron-left" class="p-button-help p-mb-2"></button>
            </ng-template>
        </p-toolbar>

        <div class="p-grid p-formgrid p-fluid">
           
        <div class="p-col-4 p-field">
            <label for="name">Name</label>
            <input id="name" type="name" pInputText [(ngModel)]="nationality.name" aria-describedby="username-help" 
            placeholder="Enter name">

        </div>

        <div class="p-col-4 p-field">
            <label for="code">Code</label>
            <input id="code" type="code" pInputText [(ngModel)]="nationality.code" aria-describedby="password-help" placeholder="Enter code">

        </div>
        
        
    </div>
   
        <div class="p-grid p-formgrid p-fluid">
            <div class="p-col-8 p-field">
                <label for="description">Description</label>
                <textarea rows="5" cols="30" placeholder="Description" pInputTextarea  [(ngModel)]="nationality.description"></textarea>
            </div>

        </div>
    </div>
</div>
