<div class="p-grid">
	<div class="p-col-12">

        <div class="card">
			<p-toolbar styleClass="p-mb-4">
				<ng-template pTemplate="left">
					<button pButton pRipple label="Add Gender" icon="pi pi-plus" class="p-mr-2 p-mb-2" (click)="goToAddGender()"></button>
					<button pButton pRipple label="Delete Gender" icon="pi pi-trash" class="p-mb-2" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button>
				</ng-template>

				<ng-template pTemplate="right">
					<button pButton pRipple label="Back" icon="pi pi-chevron-left" class="p-button-help p-mb-2" (click)="goBack()"></button>
				</ng-template>
            </p-toolbar>
            <p-table #dt [value]="genderList" [rows]="10" [paginator]="true" [globalFilterFields]="['name','code','description']"
         [rowHover]="true" dataKey="id"
            styleClass="p-datatable-customers"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
   
            <ng-template pTemplate="caption">
                <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                    <h5 class="p-m-0">Gender Listing</h5>
                    <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 3rem">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th pSortableColumn="gender_id">id <p-sortIcon field="gender_id"></p-sortIcon></th>
                    <th pSortableColumn="name">Name<p-sortIcon field="name"></p-sortIcon></th>
                    <th pSortableColumn="code">Code <p-sortIcon field="code"></p-sortIcon></th>
                    <th pSortableColumn="description">Description <p-sortIcon field="description"></p-sortIcon></th>
                    <th pSortableColumn="action">Action <p-sortIcon field="action"></p-sortIcon></th>
                    
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-gender>
                <tr>
                    <td>
                        <p-tableCheckbox [value]="gender"></p-tableCheckbox>
                    </td>
                    <td><span class="p-column-title"></span>
                        {{gender.gender_id}}
                    </td>
                    <td><span class="p-column-title"></span>
                        {{gender.name}}
                    </td>
                    <td><span class="p-column-title"></span>
                        {{gender.code}}
                    </td>
                    <td><span class="p-column-title"></span>
                        {{gender.description}}
                    </td>
                    
                    <td>
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editGender(gender)"></button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(product)"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="p-d-flex p-ai-center p-jc-between">
                    In total there are {{genderList ? genderList.length : 0 }} genders.
                </div>
            </ng-template>
        </p-table>   
            
            </div>

             
           <p-dialog [(visible)]="genderDialog" [style]="{width: '650px'}" header="Gender Details" [modal]="true" styleClass="p-fluid">
           
            <ng-template pTemplate="content">
				<div class="p-col-12 p-fluid p-formgrid p-grid">
				<div class="p-col-12 p-field">
					<label for="name">Name</label>
					<input id="name" type="name" pInputText [(ngModel)]="selectedGender.name">
                </div>
                <div class="p-col-6 p-field">
					<label for="code">Code</label>
					<input id="code" type="code" pInputText [(ngModel)]="selectedGender.code">
                </div>
                <div class="p-col-6 p-field">
					<label for="description"> Description </label>
					<input id="description" type="description" pInputText [(ngModel)]="selectedGender.description">
                </div>
                <div class="p-col-6 p-field">
                        <label for="created_by">Created_By</label>
                        <input id="created_by" type="created_by" pInputText [(ngModel)]="selectedGender.created_by">
                    </div>
                    <div class="p-col-6 p-field">
                        <label for="created_date">Created_Date</label>
                        <input id="created_date" type="created_date" pInputText [(ngModel)]="selectedGender.created_date">
                    </div>

                </div>
                </ng-template>

                <ng-template pTemplate="footer">
                    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideGenderDialog()"></button>
                    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="updateGender()"></button>
                </ng-template>
                </p-dialog>

        </div>
        </div>
        





