<div class="p-grid p-fluid">
    <div class="p-col-12 p-md-4">
        <h5>Demographic Info Management</h5>
                    <p-menu [model]="demographicInfoManagement" [style]="{'width':'100%'}">

                    </p-menu>
                </div>
    
                <div class="p-col-12 p-md-4">
                    <h5>Organisation Units Management</h5>
                                <p-menu [model]="organisationUnitsManagement" [style]="{'width':'100%'}">
            
                                </p-menu>
                            </div>
                
                            <div class="p-col-12 p-md-4">
                                <h5>Clinical Matadata</h5>
                                            <p-menu [model]="clinicalManagement" [style]="{'width':'100%'}">
                        
                                            </p-menu>
                                        </div>
            
            </div>
           