<div class="p-grid p-fluid">
    <div class="p-col-12 p-md-4">
        <h5>User Management</h5>
                    <p-menu [model]="usersManagement" [style]="{'width':'100%'}">

                    </p-menu>
                </div>
    
                <div class="p-col-12 p-md-4">
                    <h5>Forms/Modules Management</h5>
                                <p-menu [model]="formsManagement" [style]="{'width':'100%'}">
            
                                </p-menu>
                            </div>
                
                            <div class="p-col-12 p-md-4">
                                <h5>Report Management</h5>
                                            <p-menu [model]="reportsManagement" [style]="{'width':'100%'}">
                        
                                            </p-menu>
                                        </div>
            
            </div>
           
