<a [routerLink]="['/registration']"></a>
<div class="card">
  <p-fieldset legend="New Client">


  <p-tabView orientation="left" >
      <p-tabPanel header="Patient Demographic" leftIcon="pi pi-user-plus">
        <p-toolbar styleClass="p-mb-4">
          <ng-template pTemplate="left">
              <button pButton pRipple label="Edit" icon="pi pi-plus" class="p-mr-2 p-mb-2"
              (click)="addUser()"></button>
              <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-mb-2"></button>
          </ng-template>

          <ng-template pTemplate="right">
              <button pButton pRipple label="Continue" (click)="goBack()" icon="pi pi-angle-right" class="p-button-help p-mb-2"></button>
          </ng-template>
      </p-toolbar>
        <div class="p-fluid p-formgrid p-grid">
          <div class="p-field p-col-12 p-md-4" >
            <label for="clientcode">Client's Code</label>
            <p-inputMask inputId="clientcode" mask="9999/99/99" ></p-inputMask>


          </div><br>
          <div class="p-field p-col-12 p-md-3" style="margin-left: 2%">
            <label for="RegistrationDate">Registration Date</label>
            <input id="RegistrationDate" type="date" pInputText>
        </div>
        <div class="p-field p-col-12 p-md-3" style="margin-left: 2%">
          <label for="DateOfBirth">Date of Birth</label>
          <input id="DateOfBirth" type="date" pInputText>
        </div>
      </div>
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-4" >
          <label for="surname">Surname</label>
          <input id="surname" type="text" pInputText>
        </div><br>
        <div class="p-field p-col-12 p-md-3" style="margin-left: 2%">
          <label for="firstname">First Name</label>
          <input id="firstname" type="text" pInputText>

      </div>
      <div class="p-field p-col-12 p-md-3" style="margin-left: 2%">
        <label for="othername">Other Name</label>
        <input id="othername" type="text" pInputText>
      </div>
    </div>
    <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-12 p-md-4">
    <label for="maritalStatus">Marital Status</label>
    <p-dropdown inputId="maritalStatus" ></p-dropdown>

      </div>
     <br>
    <div class="p-field p-col-12 p-md-3" style="margin-left: 2%">
      <label for="gender">Gender</label>
            <p-dropdown inputId="gender" ></p-dropdown>

  </div>
  <div class="p-field p-col-12 p-md-3" style="margin-left: 2%">
    <label for="emailaddress">Email Address</label>
        <input id="emailaddress" type="email" pInputText>

</div>
    </div>
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-12 p-md-4" >
        <label for="address">Residential Address</label>
      <input id="address" type="text" pInputText>

    </div><br>
    <div class="p-field p-col-12 p-md-3" style="margin-left: 2%">
      <label for="phonenumber">Phone Number</label>
      <input id="phonenumber" type="text" pInputText>
    </div>
    <div class="p-field p-col-12 p-md-3" style="margin-left: 2%">
      <label for="altphonenumber">Alt Phone Number</label>
      <input id="altphonenumber" type="text" pInputText>

    </div>
    </div>

   <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-12 p-md-4">
      <label for="occupation">Occupation</label>
     <p-dropdown inputId="occupation" ></p-dropdown>

  </div><br>
  <div class="p-field p-col-12 p-md-3" style="margin-left: 2%">
    <label for="facility_name">Facility Name</label>
          <p-dropdown inputId="facility_name" ></p-dropdown>

</div>
<div class="p-field p-col-12 p-md-3" style="margin-left: 2%">
  <label for="referredFrom">Referred From</label>
         <p-dropdown inputId="referredFrom" ></p-dropdown>

</div>

  </div>

    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-12 p-md-4" >
        <label for="nationality">Nationality</label>
        <p-dropdown inputId="nationality" ></p-dropdown>
      </div><br>
      <div class="p-field p-col-12 p-md-3" style="margin-left: 2%">
        <label for="stateOfOrigin">State of Origin</label>
        <p-dropdown inputId="stateOfOrigin" ></p-dropdown>

    </div>
    <div class="p-field p-col-12 p-md-3" style="margin-left: 2%" >
      <label for="lga">Local Govt. Area</label>
      <p-dropdown inputId="lga" ></p-dropdown>
    </div>
    </div><br>


      </p-tabPanel>
      <p-tabPanel header="Next of Kin Information" leftIcon="pi pi-user">

        <div class="p-fluid p-formgrid p-grid">
          <div class="p-field p-col-12 p-md-4">
            <label for="next_of_kin_surname">Surname</label>
            <input id="next_of_kin_surname" type="text" pInputText>
          </div><br>
          <div class="p-field p-col-12 p-md-3">
            <label for="next_of_kin_firstname">First Name</label>
            <input id="next_of_kin_firstname" type="text" pInputText>

        </div>
        <div class="p-field p-col-12 p-md-3" >
          <label for="next_of_kin_othername">Other Name</label>
          <input id="next_of_kin_othername" type="text" pInputText>
        </div>
        </div>

        <div class="p-fluid p-formgrid p-grid">
          <div class="p-field p-col-12 p-md-4" >
            <label for="next_of_kin_gender">Gender</label>
            <p-dropdown inputId="next_of_kin_gender"></p-dropdown>
          </div><br>
          <div class="p-field p-col-12 p-md-3" >
            <label for="next_of_kin_phone_number">Phone Number</label>
            <input id="next_of_kin_phone_number" type="text" pInputText>

        </div>
        <div class="p-field p-col-12 p-md-3" >
          <label for="next_of_kin_alt_phone_number">Alt. Phone Number</label>
          <input id="next_of_kin_alt_phone_number" type="text" pInputText>

      </div>
        </div>
        <div class="p-fluid p-formgrid p-grid">
          <div class="p-field p-col-12 p-md-5" >
            <label for="next_of_kin_address">Address</label>
            <input id="next_of_kin_address" type="text" pInputText>
          </div><br>
          <div class="p-field p-col-12 p-md-5" >
            <label for="next_of_kin_relationship">Relationship</label>
            <p-dropdown inputId="next_of_kin_relationship"></p-dropdown>

        </div>
        </div>
        <p-button label="SAVE" class="p-mr-2 p-mb-2"></p-button>
      </p-tabPanel>
      </p-tabView>
    </p-fieldset>
    </div>










































