<a [routerLink]="['/userrole']"></a>
<div class="p-col-11">
  <h5 style="margin-left: 4%">Add User Role</h5>
  <div class="card">
    <br>
<div style="margin-left: 4%" >
    <button type="button" pButton  label="Save" class="p-button-info p-mr-2 p-mb-2" icon="pi pi-save"></button>

    <button pButton pRipple type="button" label="Back" class="p-button-info p-mr-2 p-mb-2" icon="pi pi-chevron-left"></button>
</div>
<br><br>
       <div class="p-fluid p-formgrid p-grid" style="margin-left: 4%">
      <div class="p-field p-col-12 p-md-5" >
        <label for="name">Name</label>
        <input id="name" type="text" pInputText>
      </div>
      <div class="p-field p-col-12 p-md-5">
        <label for="code">Code</label>
        <input id="code" type="text" pInputText>
      </div></div><br>
      <div class="p-fluid p-formgrid p-grid"style="margin-left: 4%">
      <div class="p-field p-col-10">
        <label for="description">Description</label>
        <textarea id="address" type="text" rows="4" pInputTextarea></textarea>
      </div>
   </div>
  </div>
</div>


