<a [routerLink]="['/registration']"></a>

<div class="card">
  <h5>New Patient</h5>
  <p-tabView orientation="left" >
      <p-tabPanel header="Patient Demographic" leftIcon="pi pi-user-plus">
        <div class="p-fluid p-formgrid p-grid">
          <div class="p-field p-col-12 p-md-4" >
            <label for="patient_id">Patient Id</label>
            <input id="patient_id" type="text" pInputText>
          </div><br>
          <div class="p-field p-col-12 p-md-3" style="margin-left: 2%">
            <label for="RegistrationDate">Registration Date</label>
            <input id="RegistrationDate" type="date" pInputText>

        </div>
        <div class="p-field p-col-12 p-md-3" style="margin-left: 2%">
          <label for="DateOfBirth">Date of Birth</label>
          <input id="DateOfBirth" type="date" pInputText>
        </div>
      </div><br>
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-4" >
          <label for="surname">Surname</label>
          <input id="surname" type="text" pInputText>
        </div><br>
        <div class="p-field p-col-12 p-md-3" style="margin-left: 2%">
          <label for="firstname">First Name</label>
          <input id="firstname" type="text" pInputText>

      </div>
      <div class="p-field p-col-12 p-md-3" style="margin-left: 2%">
        <label for="othername">Other Name</label>
        <input id="othername" type="text" pInputText>
      </div>
    </div><br>
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-12 p-md-4">
        <label for="occupation">Occupation</label>
       <p-dropdown inputId="occupation" ></p-dropdown>

    </div><br>
    <div class="p-field p-col-12 p-md-3" style="margin-left: 2%">
      <label for="nationality">Nationality</label>
            <p-dropdown inputId="nationality" ></p-dropdown>

  </div>
  <div class="p-field p-col-12 p-md-3" style="margin-left: 2%">
    <label for="StateOfOrigin">State of Origin</label>
           <p-dropdown inputId="StateOfOrigin" ></p-dropdown>

</div>
    </div><br>
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-12 p-md-4" >
        <label for="lga">L.G.A.</label>
              <p-dropdown inputId="lga"></p-dropdown>

    </div><br>
    <div class="p-field p-col-12 p-md-3" style="margin-left: 2%">
      <label for="phonenumber">Phone Number</label>
      <input id="phonenumber" type="text" pInputText>
    </div>
    <div class="p-field p-col-12 p-md-3" style="margin-left: 2%">
      <label for="altphonenumber">Alt Phone Number</label>
      <input id="altphonenumber" type="text" pInputText>

    </div>
    </div><br>

   <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-12 p-md-4">
      <label for="gender">Gender</label>
     <p-dropdown inputId="gender" ></p-dropdown>

  </div><br>
  <div class="p-field p-col-12 p-md-3" style="margin-left: 2%">
    <label for="facility_name">Facility Name</label>
          <p-dropdown inputId="facility_name" ></p-dropdown>

</div>
<div class="p-field p-col-12 p-md-3" style="margin-left: 2%">
  <label for="maritalStatus">Marital Status</label>
         <p-dropdown inputId="maritalStatus" ></p-dropdown>

</div>
  </div><br>
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-12 p-md-4" >
        <label for="referredFrom">Referred From</label>
        <input id="referredFrom" type="text" pInputText>
      </div><br>
      <div class="p-field p-col-12 p-md-3" style="margin-left: 2%">
        <label for="emailaddress">Email Address</label>
        <input id="emailaddress" type="email" pInputText>

    </div>
    <div class="p-field p-col-12 p-md-3" style="margin-left: 2%" >
      <label for="address">Residential Address</label>
      <input id="address" type="text" pInputText>
    </div>
    </div><br>
    <p-button label="Continue" class="p-mr-2 p-mb-2"></p-button>

      </p-tabPanel>
      <p-tabPanel header="Relative/Next of Kin Information" leftIcon="pi pi-user">
        <div class="p-fluid p-formgrid p-grid">
          <div class="p-field p-col-12 p-md-5">
            <label for="next_of_kin_surname">Next of Kin Surname</label>
            <input id="next_of_kin_surname" type="text" pInputText>
          </div><br>
          <div class="p-field p-col-12 p-md-5">
            <label for="next_of_kin_firstname">Next of Kin First Name</label>
            <input id="next_of_kin_firstname" type="text" pInputText>

        </div>
        </div>
        <br>
        <div class="p-fluid p-formgrid p-grid">
          <div class="p-field p-col-12 p-md-5" >
            <label for="next_of_kin_othername">Next of Kin Other Name</label>
            <input id="next_of_kin_othername" type="text" pInputText>
          </div><br>
          <div class="p-field p-col-12 p-md-5" >
            <label for="next_of_kin_phone_number">Next of Kin Phone Number</label>
            <input id="next_of_kin_phone_number" type="text" pInputText>

        </div>
        </div><br>
        <div class="p-fluid p-formgrid p-grid">
          <div class="p-field p-col-12 p-md-5" >
            <label for="next_of_kin_address">Next of Kin Address</label>
            <input id="next_of_kin_address" type="text" pInputText>
          </div><br>
          <div class="p-field p-col-12 p-md-5" >
            <label for="next_of_kin_relationship">Next of Kin Relationship</label>
            <p-dropdown inputId="next_of_kin_relationship"></p-dropdown>

        </div>
        </div>
        <p-button label="Submit" class="p-mr-2 p-mb-2"></p-button>
      </p-tabPanel>
      </p-tabView>
</div>










































