<p-toast></p-toast>
<div class="card">
  <p-tabView orientation="left" >
      <p-tabPanel header="Patient Demographic" leftIcon="pi pi-user-plus">
        
        <div class="card">
        <p-panel header="Client Information" [toggleable]="true">
          <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-12 p-md-4" >
              <label for="client_code">Client's Code</label>
              <p-inputMask inputId="client_code" mask="9999/99/99" [(ngModel)]="clientcreatedata.client_code" ></p-inputMask>


            </div><br>
            <div class="p-field p-col-12 p-md-3" style="margin-left: 2%">
              <label for="registration_date">Registration Date</label>
              <input id="registration_date" type="date" pInputText [(ngModel)]="clientcreatedata.registration_date">
          </div>
          <div class="p-field p-col-12 p-md-3" style="margin-left: 2%">
            <label for="date_of_birth">Date of Birth</label>
            <input id="date_of_birth" type="date" pInputText pInputText [(ngModel)]="clientcreatedata.date_of_birth">
          </div>
        </div>


        <div class="p-fluid p-formgrid p-grid">
          <div class="p-field p-col-12 p-md-4" >
            <label for="surname">Surname</label>
            <input id="surname" type="text" pInputText [(ngModel)]="clientcreatedata.surname">
          </div><br>
          <div class="p-field p-col-12 p-md-3" style="margin-left: 2%">
            <label for="first_name">First Name</label>
            <input id="first_name" type="text" pInputText pInputText [(ngModel)]="clientcreatedata.first_name">

        </div>
        <div class="p-field p-col-12 p-md-3" style="margin-left: 2%">
          <label for="other_name">Other Name</label>
          <input id="other_name" type="text" pInputText [(ngModel)]="clientcreatedata.other_name">
        </div>
      </div>
      <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-12 p-md-4">
      <label for="marital_status">Marital Status</label>
      <p-dropdown inputId="marital_status" [options]="maritalstatusMap" [(ngModel)]="selectedMaritalStatus"
      optionLabel="name" placeholder="--Select--"></p-dropdown>

        </div>
       <br>
      <div class="p-field p-col-12 p-md-3" style="margin-left: 2%">
        <label for="gender">Gender</label>
        <p-dropdown inputId="gender" [options]="genderMap" [(ngModel)]="selectedGender"
        optionLabel="name" placeholder="Choose a Gender"></p-dropdown>

    </div>
    <div class="p-field p-col-12 p-md-3" style="margin-left: 2%">
      <label for="email_address">Email Address</label>
          <input id="email_address" type="email" pInputText [(ngModel)]="clientcreatedata.email_address">

  </div>
      </div>
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-4" >
          <label for="address">Residential Address</label>
        <input id="address" type="text" pInputText [(ngModel)]="clientcreatedata.address">

      </div><br>
      <div class="p-field p-col-12 p-md-3" style="margin-left: 2%">
        <label for="phone_number">Phone Number</label>
        <input id="phone_number" type="number" pInputText [(ngModel)]="clientcreatedata.phone_number">
      </div>
      <div class="p-field p-col-12 p-md-3" style="margin-left: 2%">
        <label for="alt_phone_number">Alt Phone Number</label>
        <input id="alt_phone_number" type="number" pInputText [(ngModel)]="clientcreatedata.alt_phone_number">

      </div>
      </div>

     <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-12 p-md-4">
        <label for="occupation">Occupation</label>
        <p-dropdown [options]="occupationMap" [(ngModel)]="selectedOccupation"
        optionLabel="name" placeholder="-Select-"></p-dropdown>
    </div><br>
    <div class="p-field p-col-12 p-md-3" style="margin-left: 2%">
      <label for="facility_name">Facility Name</label>
      <input readonly id="facilityname" type="text" pInputText [(ngModel)]="clientcreatedata.facility_name">
      <button pButton pRipple type="button" type="button" 
      class="p-button-text p-mr-2 p-mb-2"
      label="Choose..." (click) = "loadHeirarchyUnits()"></button>
  </div>
  <div class="p-field p-col-12 p-md-3" style="margin-left: 2%">
    <label for="qualification">Qualification</label>
    <p-dropdown [options]="qualificationMap" [(ngModel)]="selectedQualification" optionValue="name"
    optionLabel="name" placeholder="-Select-"></p-dropdown>

  </div>

    </div>

      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-4" >
          <label for="referredFrom">Referred From</label>
          <p-dropdown inputId="referredFrom"></p-dropdown>
        </div><br>
        <div class="p-field p-col-12 p-md-3" style="margin-left: 2%">
          <label for="nationality">Nationality</label>
          <p-dropdown inputId="nationality" [(ngModel)]="clientcreatedata.nationality"></p-dropdown>

      </div>
      <div class="p-field p-col-12 p-md-3" style="margin-left: 2%" >
        <label for="state_of_origin">State of Origin</label>
        <p-dropdown inputId="state_of_origin" [(ngModel)]="clientcreatedata.state_of_origin"></p-dropdown>
      </div>
      </div>
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-4" >
        <label for="lga">Local Govt. Area</label>
        <p-dropdown inputId="lga" [(ngModel)]="clientcreatedata.lga"></p-dropdown>
      </div>
      </div>

      </p-panel>
      <p-dialog [(visible)]="facilityDialog" [style]="{width: '650px'}" 
      header="Facility List" [modal]="true" styleClass="p-fluid">
      <p-tree [value]="roots" selectionMode="single" scrollHeight="600px"
      [(selection)]="selectedHeirarchyUnit"
      (onNodeSelect)="heirarchyOnSelect()" [filter]="true" filterMode="strict">
        <ng-template let-node pTemplate="default">
          <b>{{node.name}}</b>
      </ng-template>

      </p-tree>
    </p-dialog>
    </div>


        <p-panel header="Next of Kin Information" [toggleable]="true">
          <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-12 p-md-4">
              <label for="next_of_kin_surname">Surname</label>
              <input id="next_of_kin_surname" type="text" pInputText [(ngModel)]="clientcreatedata.next_of_kin_surname">
            </div><br>
            <div class="p-field p-col-12 p-md-3">
              <label for="next_of_kin_firstname">First Name</label>
              <input id="next_of_kin_firstname" type="text" pInputText [(ngModel)]="clientcreatedata.next_of_kin_firstname">

          </div>
          <div class="p-field p-col-12 p-md-3" >
            <label for="next_of_kin_othername">Other Name</label>
            <input id="next_of_kin_othername" type="text" pInputText [(ngModel)]="clientcreatedata.next_of_kin_othername">
          </div>
          </div>

          <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-12 p-md-4" >
              <label for="next_of_kin_gender">Gender</label>
              <p-dropdown inputId="next_of_kin_gender" [(ngModel)]="clientcreatedata.next_of_kin_gender"></p-dropdown>
            </div><br>
            <div class="p-field p-col-12 p-md-3" >
              <label for="next_of_kin_phone_number">Phone Number</label>
              <input id="next_of_kin_phone_number" type="number" pInputText [(ngModel)]="clientcreatedata.next_of_kin_phone_number">

          </div>
          <div class="p-field p-col-12 p-md-3" >
            <label for="next_of_kin_alt_phone_number">Alt. Phone Number</label>
            <input id="next_of_kin_alt_phone_number" type="number" pInputText [(ngModel)]="clientcreatedata.next_of_kin_alt_phone_number">

        </div>
          </div>
          <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-12 p-md-4" >
              <label for="next_of_kin_address">Address</label>
              <input id="next_of_kin_address" type="text" pInputText [(ngModel)]="clientcreatedata.next_of_kin_address">
            </div><br>
            <div class="p-field p-col-12 p-md-3" >
              <label for="next_of_kin_relationship">Relationship</label>
              <p-dropdown inputId="next_of_kin_relationship" [(ngModel)]="clientcreatedata.next_of_kin_relationship"></p-dropdown>

          </div>
          <div class="p-field p-col-12 p-md-3" >
            <label for="next_of_kin_occupation">Occupation</label>
            <p-dropdown inputId="next_of_kin_occupation" [(ngModel)]="clientcreatedata.next_of_kin_occupation"></p-dropdown>

        </div>
          </div>

        </p-panel>



      </p-tabPanel>
      <p-tabPanel header="HIV Pre-Test Information" leftIcon="pi pi-user">
        <div class="p-col-12">
          <div class="card">
              <div class="p-fluid">
                <div class="p-field p-grid">
                  <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Assessment Type</label>
                  <div class="p-col-6 p-md-3">
                  <p-dropdown  optionLabel="name" placeholder="--Select--" 
                  [options]="assessmentTypeMap" (onChange)="onAssessmentSelection()"
                  [(ngModel)]="selectedAssessmentType"
                  ></p-dropdown>
                </div>
                <div class="p-col-5">
                  {{selectedAssessmentType ? selectedAssessmentType.name : ''}} Score: {{rsp ? rsp : 0}} of {{assessmentQuestions ? assessmentQuestions.length : 0}} 
                </div>
                <div class="p-col-1">
                <button pButton label="Save"></button>
              </div>
              </div>
              </div>
<br/>
              <p-table [value]="assessmentQuestions" [paginator]="true" [rows]="10" 
              [(selection)]="selectedAssessmentQuestion" (onRowSelect)="calculateResponses()">
                  <ng-template pTemplate="header">
                      <tr>
                          <th pSortableColumn="id" style="width: 20%;">ID
                              <p-sortIcon field="id"></p-sortIcon>
                          </th>
                          <th pSortableColumn="aquestions" style="width: 50%;text-align: center">Assessment Questions
                              <p-sortIcon field="category"></p-sortIcon>
                          </th>
                          
                          <th pSortableColumn="responses" style="width: 30%;text-align: center">Responses
                              <p-sortIcon field="responses"></p-sortIcon>
                          </th>
                          <th></th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-question>
                      <tr>
                          <td >
                              
                              {{question.assessment_question_id}}</td>
                          <td style="width: 50%;text-align: center">
                             
                              {{question.name}}</td>
                          
                          <td style="text-align: center">
                          
                            <p-toggleButton (onChange)="calculateResponses()" onLabel="Yes" offLabel="No" [(ngModel)]="question.default_response"></p-toggleButton>
                          </td>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                      {{selectedAssessmentType ? selectedAssessmentType.name : ''}} Score: {{rsp ? rsp : 0}} of {{assessmentQuestions ? assessmentQuestions.length : 0}} 
                    </div>
                </ng-template>
              </p-table>
          </div>
      </div>

         



      </p-tabPanel>
      <p-tabPanel header="HIV Post-Test Information" leftIcon="pi pi-user">


  



    </p-tabPanel>
      </p-tabView>
     
    </div>










































