<a [routerLink]="['/registration']"></a>
<div class="card">
  <p-fieldset legend="New Client">

  <p-tabView orientation="left" >
      <p-tabPanel header="Patient Demographic" leftIcon="pi pi-user-plus">
        <p-toolbar styleClass="p-mb-4">
          <ng-template pTemplate="left">
              <button pButton pRipple label="Save" icon="pi pi-plus" class="p-mr-2 p-mb-2"
              (click)="addClient()"></button>
              <button pButton pRipple label="Clear" icon="pi pi-trash" class="p-mb-2"></button>
          </ng-template>


      </p-toolbar>
        <div class="card">
        <p-panel header="Client Information" [toggleable]="true">
          <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-12 p-md-4" >
              <label for="client_code">Client's Code</label>
              <p-inputMask inputId="client_code" mask="9999/99/99" [(ngModel)]="clientcreatedata.client_code" ></p-inputMask>


            </div><br>
            <div class="p-field p-col-12 p-md-3" style="margin-left: 2%">
              <label for="registration_date">Registration Date</label>
              <input id="registration_date" type="date" pInputText [(ngModel)]="clientcreatedata.registration_date">
          </div>
          <div class="p-field p-col-12 p-md-3" style="margin-left: 2%">
            <label for="date_of_birth">Date of Birth</label>
            <input id="date_of_birth" type="date" pInputText pInputText [(ngModel)]="clientcreatedata.date_of_birth">
          </div>
        </div>


        <div class="p-fluid p-formgrid p-grid">
          <div class="p-field p-col-12 p-md-4" >
            <label for="surname">Surname</label>
            <input id="surname" type="text" pInputText [(ngModel)]="clientcreatedata.surname">
          </div><br>
          <div class="p-field p-col-12 p-md-3" style="margin-left: 2%">
            <label for="first_name">First Name</label>
            <input id="first_name" type="text" pInputText pInputText [(ngModel)]="clientcreatedata.first_name">

        </div>
        <div class="p-field p-col-12 p-md-3" style="margin-left: 2%">
          <label for="other_name">Other Name</label>
          <input id="other_name" type="text" pInputText [(ngModel)]="clientcreatedata.other_name">
        </div>
      </div>
      <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-12 p-md-4">
      <label for="marital_status">Marital Status</label>
      <p-dropdown inputId="marital_status" [(ngModel)]="clientcreatedata.marital_status"></p-dropdown>

        </div>
       <br>
      <div class="p-field p-col-12 p-md-3" style="margin-left: 2%">
        <label for="gender">Gender</label>
              <p-dropdown inputId="gender" [(ngModel)]="clientcreatedata.gender"></p-dropdown>

    </div>
    <div class="p-field p-col-12 p-md-3" style="margin-left: 2%">
      <label for="email_address">Email Address</label>
          <input id="email_address" type="email" pInputText [(ngModel)]="clientcreatedata.email_address">

  </div>
      </div>
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-4" >
          <label for="address">Residential Address</label>
        <input id="address" type="text" pInputText [(ngModel)]="clientcreatedata.address">

      </div><br>
      <div class="p-field p-col-12 p-md-3" style="margin-left: 2%">
        <label for="phone_number">Phone Number</label>
        <input id="phone_number" type="number" pInputText [(ngModel)]="clientcreatedata.phone_number">
      </div>
      <div class="p-field p-col-12 p-md-3" style="margin-left: 2%">
        <label for="alt_phone_number">Alt Phone Number</label>
        <input id="alt_phone_number" type="number" pInputText [(ngModel)]="clientcreatedata.alt_phone_number">

      </div>
      </div>

     <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-12 p-md-4">
        <label for="occupation">Occupation</label>
       <p-dropdown inputId="occupation" [(ngModel)]="clientcreatedata.occupation"></p-dropdown>

    </div><br>
    <div class="p-field p-col-12 p-md-3" style="margin-left: 2%">
      <label for="facility_name">Facility Name</label>
            <p-dropdown inputId="facility_name" [(ngModel)]="clientcreatedata.facility_name"></p-dropdown>

  </div>
  <div class="p-field p-col-12 p-md-3" style="margin-left: 2%">
    <label for="qualification">Qualification</label>
           <p-dropdown inputId="qualification" [(ngModel)]="clientcreatedata.qualification"></p-dropdown>

  </div>

    </div>

      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-4" >
          <label for="referredFrom">Referred From</label>
          <p-dropdown inputId="referredFrom"></p-dropdown>
        </div><br>
        <div class="p-field p-col-12 p-md-3" style="margin-left: 2%">
          <label for="nationality">Nationality</label>
          <p-dropdown inputId="nationality" [(ngModel)]="clientcreatedata.nationality"></p-dropdown>

      </div>
      <div class="p-field p-col-12 p-md-3" style="margin-left: 2%" >
        <label for="state_of_origin">State of Origin</label>
        <p-dropdown inputId="state_of_origin" [(ngModel)]="clientcreatedata.state_of_origin"></p-dropdown>
      </div>
      </div>
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-4" >
        <label for="lga">Local Govt. Area</label>
        <p-dropdown inputId="lga" [(ngModel)]="clientcreatedata.lga"></p-dropdown>
      </div>
      </div>

      </p-panel></div>


        <p-panel header="Next of Kin Information" [toggleable]="true">
          <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-12 p-md-4">
              <label for="next_of_kin_surname">Surname</label>
              <input id="next_of_kin_surname" type="text" pInputText [(ngModel)]="clientcreatedata.next_of_kin_surname">
            </div><br>
            <div class="p-field p-col-12 p-md-3">
              <label for="next_of_kin_firstname">First Name</label>
              <input id="next_of_kin_firstname" type="text" pInputText [(ngModel)]="clientcreatedata.next_of_kin_firstname">

          </div>
          <div class="p-field p-col-12 p-md-3" >
            <label for="next_of_kin_othername">Other Name</label>
            <input id="next_of_kin_othername" type="text" pInputText [(ngModel)]="clientcreatedata.next_of_kin_othername">
          </div>
          </div>

          <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-12 p-md-4" >
              <label for="next_of_kin_gender">Gender</label>
              <p-dropdown inputId="next_of_kin_gender" [(ngModel)]="clientcreatedata.next_of_kin_gender"></p-dropdown>
            </div><br>
            <div class="p-field p-col-12 p-md-3" >
              <label for="next_of_kin_phone_number">Phone Number</label>
              <input id="next_of_kin_phone_number" type="number" pInputText [(ngModel)]="clientcreatedata.next_of_kin_phone_number">

          </div>
          <div class="p-field p-col-12 p-md-3" >
            <label for="next_of_kin_alt_phone_number">Alt. Phone Number</label>
            <input id="next_of_kin_alt_phone_number" type="number" pInputText [(ngModel)]="clientcreatedata.next_of_kin_alt_phone_number">

        </div>
          </div>
          <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-12 p-md-4" >
              <label for="next_of_kin_address">Address</label>
              <input id="next_of_kin_address" type="text" pInputText [(ngModel)]="clientcreatedata.next_of_kin_address">
            </div><br>
            <div class="p-field p-col-12 p-md-3" >
              <label for="next_of_kin_relationship">Relationship</label>
              <p-dropdown inputId="next_of_kin_relationship" [(ngModel)]="clientcreatedata.next_of_kin_relationship"></p-dropdown>

          </div>
          <div class="p-field p-col-12 p-md-3" >
            <label for="next_of_kin_occupation">Occupation</label>
            <p-dropdown inputId="next_of_kin_occupation" [(ngModel)]="clientcreatedata.next_of_kin_occupation"></p-dropdown>

        </div>
          </div>

        </p-panel>



      </p-tabPanel>
      <p-tabPanel header="HIV Pre-Test Information" leftIcon="pi pi-user">


          <p-accordion>
              <p-accordionTab header="HIV Pre-Test Information" [selected]="true">
                <div class="p-fluid p-formgrid p-grid">
                  <div class="p-field p-col-12 p-md-4" >
                    <label for="clientcode">Client's Code</label>
                    <p-inputMask inputId="clientcode" mask="9999/99/99" ></p-inputMask>


                  </div><br>
                  <div class="p-field p-col-12 p-md-3" style="margin-left: 2%">
                    <label for="RegistrationDate">Registration Date</label>
                    <input id="RegistrationDate" type="date" pInputText>
                </div>
                <div class="p-field p-col-12 p-md-3" style="margin-left: 2%">
                  <label for="DateOfBirth">Date of Birth</label>
                  <input id="DateOfBirth" type="date" pInputText>
                </div>
              </div>
              <div class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col-12 p-md-4" >
                  <label for="surname">Surname</label>
                  <input id="surname" type="text" pInputText>
                </div><br>
                <div class="p-field p-col-12 p-md-3" style="margin-left: 2%">
                  <label for="firstname">First Name</label>
                  <input id="firstname" type="text" pInputText>

              </div>
              <div class="p-field p-col-12 p-md-3" style="margin-left: 2%">
                <label for="othername">Other Name</label>
                <input id="othername" type="text" pInputText>
              </div>
            </div>
            <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-12 p-md-4">
            <label for="maritalStatus">Marital Status</label>
            <p-dropdown inputId="maritalStatus" ></p-dropdown>

              </div>
             <br>
            <div class="p-field p-col-12 p-md-3" style="margin-left: 2%">
              <label for="gender">Gender</label>
                    <p-dropdown inputId="gender" ></p-dropdown>

          </div>
          <div class="p-field p-col-12 p-md-3" style="margin-left: 2%">
            <label for="emailaddress">Email Address</label>
                <input id="emailaddress" type="email" pInputText>

        </div>
            </div>
            <div class="p-fluid p-formgrid p-grid">
              <div class="p-field p-col-12 p-md-4" >
                <label for="address">Residential Address</label>
              <input id="address" type="text" pInputText>

            </div><br>
            <div class="p-field p-col-12 p-md-3" style="margin-left: 2%">
              <label for="phonenumber">Phone Number</label>
              <input id="phonenumber" type="text" pInputText>
            </div>
            <div class="p-field p-col-12 p-md-3" style="margin-left: 2%">
              <label for="altphonenumber">Alt Phone Number</label>
              <input id="altphonenumber" type="text" pInputText>

            </div>
            </div>

           <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-12 p-md-4">
              <label for="occupation">Occupation</label>
             <p-dropdown inputId="occupation" ></p-dropdown>

          </div><br>
          <div class="p-field p-col-12 p-md-3" style="margin-left: 2%">
            <label for="facility_name">Facility Name</label>
                  <p-dropdown inputId="facility_name" ></p-dropdown>

        </div>
        <div class="p-field p-col-12 p-md-3" style="margin-left: 2%">
          <label for="referredFrom">Referred From</label>
                 <p-dropdown inputId="referredFrom" ></p-dropdown>

        </div>

          </div>

            <div class="p-fluid p-formgrid p-grid">
              <div class="p-field p-col-12 p-md-4" >
                <label for="nationality">Nationality</label>
                <p-dropdown inputId="nationality" ></p-dropdown>
              </div><br>
              <div class="p-field p-col-12 p-md-3" style="margin-left: 2%">
                <label for="stateOfOrigin">State of Origin</label>
                <p-dropdown inputId="stateOfOrigin" ></p-dropdown>

            </div>
            <div class="p-field p-col-12 p-md-3" style="margin-left: 2%" >
              <label for="lga">Local Govt. Area</label>
              <p-dropdown inputId="lga" ></p-dropdown>
            </div>
            </div><br>

              </p-accordionTab>
              <p-accordionTab header="Next of Kin Information">
                <div class="p-fluid p-formgrid p-grid">
                  <div class="p-field p-col-12 p-md-4">
                    <label for="next_of_kin_surname">Surname</label>
                    <input id="next_of_kin_surname" type="text" pInputText>
                  </div><br>
                  <div class="p-field p-col-12 p-md-3">
                    <label for="next_of_kin_firstname">First Name</label>
                    <input id="next_of_kin_firstname" type="text" pInputText>

                </div>
                <div class="p-field p-col-12 p-md-3" >
                  <label for="next_of_kin_othername">Other Name</label>
                  <input id="next_of_kin_othername" type="text" pInputText>
                </div>
                </div>

                <div class="p-fluid p-formgrid p-grid">
                  <div class="p-field p-col-12 p-md-4" >
                    <label for="next_of_kin_gender">Gender</label>
                    <p-dropdown inputId="next_of_kin_gender"></p-dropdown>
                  </div><br>
                  <div class="p-field p-col-12 p-md-3" >
                    <label for="next_of_kin_phone_number">Phone Number</label>
                    <input id="next_of_kin_phone_number" type="text" pInputText>

                </div>
                <div class="p-field p-col-12 p-md-3" >
                  <label for="next_of_kin_alt_phone_number">Alt. Phone Number</label>
                  <input id="next_of_kin_alt_phone_number" type="text" pInputText>

              </div>
                </div>
                <div class="p-fluid p-formgrid p-grid">
                  <div class="p-field p-col-12 p-md-4" >
                    <label for="next_of_kin_address">Address</label>
                    <input id="next_of_kin_address" type="text" pInputText>
                  </div><br>
                  <div class="p-field p-col-12 p-md-3" >
                    <label for="next_of_kin_relationship">Relationship</label>
                    <p-dropdown inputId="next_of_kin_relationship"></p-dropdown>

                </div>
                <div class="p-field p-col-12 p-md-3" >
                  <label for="next_of_kin_occupation">Occupation</label>
                  <p-dropdown inputId="next_of_kin_occupation"></p-dropdown>

              </div>
                </div>
                <p-button label="SAVE" class="p-mr-2 p-mb-2"></p-button>
              </p-accordionTab>

          </p-accordion>



      </p-tabPanel>
      <p-tabPanel header="HIV Post-Test Information" leftIcon="pi pi-user">


        <p-accordion>
            <p-accordionTab header="HIV Post-Test Information" [selected]="true">
              <div class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col-12 p-md-4" >
                  <label for="clientcode">Client's Code</label>
                  <p-inputMask inputId="clientcode" mask="9999/99/99" ></p-inputMask>


                </div><br>
                <div class="p-field p-col-12 p-md-3" style="margin-left: 2%">
                  <label for="RegistrationDate">Registration Date</label>
                  <input id="RegistrationDate" type="date" pInputText>
              </div>
              <div class="p-field p-col-12 p-md-3" style="margin-left: 2%">
                <label for="DateOfBirth">Date of Birth</label>
                <input id="DateOfBirth" type="date" pInputText>
              </div>
            </div>
            <div class="p-fluid p-formgrid p-grid">
              <div class="p-field p-col-12 p-md-4" >
                <label for="surname">Surname</label>
                <input id="surname" type="text" pInputText>
              </div><br>
              <div class="p-field p-col-12 p-md-3" style="margin-left: 2%">
                <label for="firstname">First Name</label>
                <input id="firstname" type="text" pInputText>

            </div>
            <div class="p-field p-col-12 p-md-3" style="margin-left: 2%">
              <label for="othername">Other Name</label>
              <input id="othername" type="text" pInputText>
            </div>
          </div>
          <div class="p-fluid p-formgrid p-grid">
          <div class="p-field p-col-12 p-md-4">
          <label for="maritalStatus">Marital Status</label>
          <p-dropdown inputId="maritalStatus" ></p-dropdown>

            </div>
           <br>
          <div class="p-field p-col-12 p-md-3" style="margin-left: 2%">
            <label for="gender">Gender</label>
                  <p-dropdown inputId="gender" ></p-dropdown>

        </div>
        <div class="p-field p-col-12 p-md-3" style="margin-left: 2%">
          <label for="emailaddress">Email Address</label>
              <input id="emailaddress" type="email" pInputText>

      </div>
          </div>
          <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-12 p-md-4" >
              <label for="address">Residential Address</label>
            <input id="address" type="text" pInputText>

          </div><br>
          <div class="p-field p-col-12 p-md-3" style="margin-left: 2%">
            <label for="phonenumber">Phone Number</label>
            <input id="phonenumber" type="text" pInputText>
          </div>
          <div class="p-field p-col-12 p-md-3" style="margin-left: 2%">
            <label for="altphonenumber">Alt Phone Number</label>
            <input id="altphonenumber" type="text" pInputText>

          </div>
          </div>

         <div class="p-fluid p-formgrid p-grid">
          <div class="p-field p-col-12 p-md-4">
            <label for="occupation">Occupation</label>
           <p-dropdown inputId="occupation" ></p-dropdown>

        </div><br>
        <div class="p-field p-col-12 p-md-3" style="margin-left: 2%">
          <label for="facility_name">Facility Name</label>
                <p-dropdown inputId="facility_name" ></p-dropdown>

      </div>
      <div class="p-field p-col-12 p-md-3" style="margin-left: 2%">
        <label for="referredFrom">Referred From</label>
               <p-dropdown inputId="referredFrom" ></p-dropdown>

      </div>

        </div>

          <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-12 p-md-4" >
              <label for="nationality">Nationality</label>
              <p-dropdown inputId="nationality" ></p-dropdown>
            </div><br>
            <div class="p-field p-col-12 p-md-3" style="margin-left: 2%">
              <label for="stateOfOrigin">State of Origin</label>
              <p-dropdown inputId="stateOfOrigin" ></p-dropdown>

          </div>
          <div class="p-field p-col-12 p-md-3" style="margin-left: 2%" >
            <label for="lga">Local Govt. Area</label>
            <p-dropdown inputId="lga" ></p-dropdown>
          </div>
          </div><br>

            </p-accordionTab>
            <p-accordionTab header="Next of Kin Information">
              <div class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col-12 p-md-4">
                  <label for="next_of_kin_surname">Surname</label>
                  <input id="next_of_kin_surname" type="text" pInputText>
                </div><br>
                <div class="p-field p-col-12 p-md-3">
                  <label for="next_of_kin_firstname">First Name</label>
                  <input id="next_of_kin_firstname" type="text" pInputText>

              </div>
              <div class="p-field p-col-12 p-md-3" >
                <label for="next_of_kin_othername">Other Name</label>
                <input id="next_of_kin_othername" type="text" pInputText>
              </div>
              </div>

              <div class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col-12 p-md-4" >
                  <label for="next_of_kin_gender">Gender</label>
                  <p-dropdown inputId="next_of_kin_gender"></p-dropdown>
                </div><br>
                <div class="p-field p-col-12 p-md-3" >
                  <label for="next_of_kin_phone_number">Phone Number</label>
                  <input id="next_of_kin_phone_number" type="text" pInputText>

              </div>
              <div class="p-field p-col-12 p-md-3" >
                <label for="next_of_kin_alt_phone_number">Alt. Phone Number</label>
                <input id="next_of_kin_alt_phone_number" type="text" pInputText>

            </div>
              </div>
              <div class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col-12 p-md-4" >
                  <label for="next_of_kin_address">Address</label>
                  <input id="next_of_kin_address" type="text" pInputText>
                </div><br>
                <div class="p-field p-col-12 p-md-3" >
                  <label for="next_of_kin_relationship">Relationship</label>
                  <p-dropdown inputId="next_of_kin_relationship"></p-dropdown>

              </div>
              <div class="p-field p-col-12 p-md-3" >
                <label for="next_of_kin_occupation">Occupation</label>
                <p-dropdown inputId="next_of_kin_occupation"></p-dropdown>

            </div>
              </div>
              <p-button label="SAVE" class="p-mr-2 p-mb-2"></p-button>
            </p-accordionTab>

        </p-accordion>



    </p-tabPanel>
      </p-tabView>
    </p-fieldset>
    </div>










































