<div class="p-grid">
  <div class="p-col-12">

    <p-panel header="Financial Service Provider Details" [toggleable]="true" [collapsed]="true">
      <ng-template pTemplate="icons">
          <button icon="pi pi-cog" pButton class="p-panel-header-icon p-link" (click)="menu.toggle($event)">

          </button>

          <p-menu #menu id="config_menu" [model]="userActionOptions" [popup]="true"></p-menu>

      </ng-template>

      <div class="p-col-12">
          <div class="p-d-flex p-p-3">
              <p class="p-mr-2"><strong>Institution Name:<mark></mark></strong></p>
              <!--p class="p-mr-2"><strong>Client Id.<mark>{{viewedClient.hospital_number}}</mark></strong></p>-->
              <p class="p-mr-2"><strong>MMO Code: <mark></mark> </strong></p>
              <p class="p-mr-2"><strong>Email:<mark></mark></strong></p>
              <p class="p-mr-2"><strong>Phone:<mark></mark></strong></p>

          </div>
      </div>

    </p-panel>

      <div class="card">
          <p-toolbar styleClass="p-mb-4">
              <ng-template pTemplate="left">
                  <button pButton pRipple label="Add Report" icon="pi pi-plus" class="p-mr-2 p-mb-2" (click)="goToAddreport()"></button>
                  <button pButton pRipple label="Clear Report" icon="pi pi-trash" class="p-mb-2" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button>
              </ng-template>

              <ng-template pTemplate="right">
                  <button pButton pRipple type="button" icon="pi pi-upload" label="Upload" class="p-mb-2 p-mb-2"  (click)="importreport()"></button>
                  <button pButton pRipple label="Back" icon="pi pi-chevron-left" class="p-button-help p-mb-2" (click)="goBack()"></button>
              </ng-template>
          </p-toolbar>
          <p-table #occu [value]="reportList" [rows]="10" [paginator]="true" [globalFilterFields]="['name','code','description']"
       [rowHover]="true" dataKey="report_id" [(selection)]="selectedReport"
          styleClass="p-datatable-customers"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">

          <ng-template pTemplate="caption">
              <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                  <h5 class="p-m-0">Report Listing</h5>
                  <span class="p-input-icon-left">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text" (input)="occu.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
              </span>
              </div>
          </ng-template>
          <ng-template pTemplate="header">
              <tr>
                  <th style="width: 3rem">
                      <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                  </th>
                  <th pSortableColumn="name">MMO Code<p-sortIcon field="name"></p-sortIcon></th>
                  <th pSortableColumn="description">Transaction Type Code <p-sortIcon field="description"></p-sortIcon></th>
                  <th pSortableColumn="description">Transaction Type<p-sortIcon field="description"></p-sortIcon></th>
                  <th pSortableColumn="description">Volume <p-sortIcon field="description"></p-sortIcon></th>
                  <th pSortableColumn="description">Value <p-sortIcon field="description"></p-sortIcon></th>
                  <th pSortableColumn="description">Period <p-sortIcon field="description"></p-sortIcon></th>
                  <th pSortableColumn="action">Action <p-sortIcon field="action"></p-sortIcon></th>

              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-Report>
              <tr>
                  <td>
                      <p-tableCheckbox [value]="Report"></p-tableCheckbox>
                  </td>
                  <td><span class="p-column-title"></span>
                      {{Report.mmoCode}}
                  </td>
                  <td><span class="p-column-title"></span>
                      {{Report.transactionTypeCode}}
                  </td>
                  <td><span class="p-column-title"></span>
                      {{Report.transactionType}}
                  </td>
                  <td><span class="p-column-title"></span>
                    {{Report.volume}}
                </td>
                <td><span class="p-column-title"></span>
                  {{Report.value}}
              </td>
              <td><span class="p-column-title"></span>
                {{Report.period}}
            </td>

                  <td>
                      <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editreport()"></button>
                      <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(product)"></button>
                  </td>
              </tr>
          </ng-template>
          <ng-template pTemplate="summary">
              <div class="p-d-flex p-ai-center p-jc-between">
                  In total there are {{reportList ? reportList.length : 0 }} Report.
              </div>
          </ng-template>
      </p-table>

          </div>

          <p-dialog [(visible)]="reportDialog" [style]="{width: '650px'}" header="New Report" [modal]="true" styleClass="p-fluid">
              <ng-template pTemplate="content">
       <div class="p-grid p-formgrid p-fluid">

          <div class="p-col-4 p-field">
              <label for="name"> MMo Code</label>
              <input id="name" type="name" pInputText [(ngModel)]="Reportcreateddata.name" aria-describedby="name-help"
              placeholder=" Enter Name">

          </div>

          <div class="p-col-4 p-field">
              <label for="code">Transaction Type Code </label>
              <p-dropdown inputId="programs_id" [options]="transactionTypeCode" [(ngModel)]="selectedDrop"
          placeholder="-Select-" [showClear]="true"
         ></p-dropdown>
          </div>

          <div class="p-col-4 p-field">
            <label for="code">Transaction Type </label>
            <p-dropdown inputId="programs_id" [options]="transactionType" [(ngModel)]="selectedDrop"
            placeholder="-Select-" [showClear]="true"
           ></p-dropdown>
        </div>


        <div class="p-col-4 p-field">
          <label for="code">Volume </label>
          <input id="code" type="code" pInputText [(ngModel)]="Reportcreateddata.code" aria-describedby="code-help"
          placeholder="Enter Code" required>
      </div>

      <div class="p-col-4 p-field">
        <label for="code">Value </label>
        <input id="code" type="code" pInputText [(ngModel)]="Reportcreateddata.code" aria-describedby="code-help"
        placeholder="Enter Code" required>
    </div>

    <div class="p-field p-col-6">
      <label for="date_of_report"><b>Date Of Report</b></label>
      <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:{{curYear}}" [maxDate]="maxDate"
                  inputId="createddate" [showIcon]="true" showButtonBar="true" [(ngModel)]="created_date"
                  dateFormat="dd/mm/yy">
      </p-calendar>

      </div>

          <div class="p-col-12 p-field">
              <label for="description"> Description </label>
              <textarea rows="5" cols="30" placeholder=" Description" [(ngModel)]="Reportcreateddata.description" pInputTextarea ></textarea>
          </div>


      </div>


              </ng-template>
              <ng-template pTemplate="footer">
                            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideReportDialog()"></button>
                            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="addReport()"></button>
                        </ng-template>
            </p-dialog>


         <p-dialog [(visible)]="reportEditDialog" [style]="{width: '650px'}" header="Report Details" [modal]="true" styleClass="p-fluid">

          <ng-template pTemplate="content">
              <div class="p-col-12 p-fluid p-formgrid p-grid">
              <div class="p-col-12 p-field">
                  <label for="name">Name</label>
                  <input id="name" type="name" pInputText [(ngModel)]="selectedReport.name">
              </div>
              <div class="p-col-6 p-field">
                  <label for="code">Code</label>
                  <input id="code" type="code" pInputText [(ngModel)]="selectedReport.code">
              </div>
              <div class="p-col-6 p-field">
                  <label for="description"> Description </label>
                  <input id="description" type="description" pInputText [(ngModel)]="selectedReport.description">
              </div>
              <div class="p-col-6 p-field">
                      <label for="created_by">Created_By</label>
                      <input id="created_by" type="created_by" pInputText [(ngModel)]="selectedReport.created_by">
                  </div>
                  <div class="p-col-6 p-field">
                      <label for="created_date">Created_Date</label>
                      <input id="created_date" type="created_date" pInputText [(ngModel)]="selectedReport.created_date">
                  </div>

              </div>
              </ng-template>

              <ng-template pTemplate="footer">
                  <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideReportEditDialog()"></button>
                  <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="updateReport()"></button>
              </ng-template>
              </p-dialog>


              <p-dialog [(visible)]="reportImportDialog" [style]="{width: '800px'}" header="Import Report" [modal]="true" styleClass="p-fluid">

                  <ng-template pTemplate="content">
                        <div class="p-col-12 p-fluid p-formgrid p-grid">

                     <div class="card">

                        <div class="p-fluid p-formgrid p-grid">
                               <div class="p-field p-col-12 p-md-6">
                          <label for="Url">Url</label>
                            <input id="Url" type="url" pInputText placeholder="Enter url">
                         </div>
                              <div class="p-field p-col-12 p-md-6">
                             <label for="format">Supported import format</label>
                              <p-dropdown inputId="programs_id" [options]="selectedFormat" [(ngModel)]="selectedDrop"
                              placeholder="-Select-" [showClear]="true"></p-dropdown>

                                     </div>
                                      </div>




                <div class="p-field p-col-12 p-md-12">
                      <button pButton pRipple label="Preview input" class="p-mr-2 p-mb-2"></button>
                   </div>
                     <div class="p-field p-col-12 p-md-12">
                       <p-table #dt [value]="heirarchyunit" [columns]="" [rows]="10" [paginator]="true" [globalFilterFields]="['name','country.name','representative.name','status']"
                [(selection)]="selectedHeirarchyunit" [rowHover]="true" dataKey="id"
                      styleClass="p-datatable-customers"
                 currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="false">
               <ng-template pTemplate="caption">
                  <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                 <h5 class="p-m-0">Import Preview</h5>
               <div class="p-field p-col-6 p-md-6" [style]="{'float':'right'}">
               <span class="p-input-icon-left">
                   <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                      </span>
                     </div>

              </div>
                  </ng-template>
                <ng-template pTemplate="header">
                   <tr>
                      <th style="width: 3rem">
             <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                 </th>
                 <th pSortableColumn="id">ID</th>
                  <th pSortableColumn="Name">Name</th>
                   <th pSortableColumn="code">Code </th>
                    <th pSortableColumn="Description">Description</th>
                     <th></th>
                     </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-product>
                <tr>
              <td>
                <p-tableCheckbox [value]="product"></p-tableCheckbox>
                </td>
                 <td><span class="p-column-title">Name</span>
                  {{product.name}}
                    </td>
                    <td><span class="p-column-title">Image</span>
                     <img [src]="'assets/demo/images/product/' + product.image" [alt]="product.name" width="100" class="p-shadow-4" />
                      </td>
                         <td><span class="p-column-title">Price</span>
                     {{product.price | currency:'USD'}}
                      </td>
                      <td><span class="p-column-title">Category</span>
                         {{product.category}}
                     </td>
                      <td><span class="p-column-title">Reviews</span>
                        <p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating>
                           </td>
                        <td><span class="p-column-title">Status</span>
                       <span [class]="'product-badge status-' + (product.inventoryStatus ? product.inventoryStatus.toLowerCase() : '')">{{product.inventoryStatus}}</span>
                     </td>

                      </tr>
                         </ng-template>

                         </p-table>
                          </div>

                          <div class="p-grid p-col-12 p-md-12">
                         <div class="p-field p-col-12 p-md-3">
                         <button pButton pRipple label="remove" class="p-mr-2 p-mb-2"></button>
                           </div>
                              <div class="p-field p-col-12 p-md-7">
                          <button pButton pRipple label="Import List" class="p-mr-2 p-mb-2"></button>
                           </div>
                          </div>

                </div>

                        </div>
                    </ng-template>

            </p-dialog>

      </div>
      </div>
