<div class="layout-dashboard">
  <div class="p-grid">

    <div class="p-col-12 p-md-6 p-xl-3">
      <a href="#" (click)="switchClientExtInfo()">
       <div class="card overview-box-2 teal">
           <div class="overview-info">
               <h6>Central bank Of Nigeria</h6>
               <h3>5,270</h3>
           </div>
           <i class="fa fa-stethoscope"></i>
       </div>
   </a>
   </div>

   <div class="p-col-12 p-md-6 p-xl-3">
    <a href="#" (click)="switchClientExtInfo()">
     <div class="card overview-box-2 orange">
         <div class="overview-info">
             <h6>Switches</h6>
             <h3>5,270</h3>
         </div>
         <i class="fa fa-stethoscope"></i>
     </div>
 </a>
 </div>


 <div class="p-col-12 p-md-6 p-xl-3">
  <a href="#" (click)="switchClientExtInfo()">
   <div class="card overview-box-2 blue">
       <div class="overview-info">
           <h6>Third Party Processors</h6>
           <h3>5,270</h3>
       </div>
       <i class="fa fa-stethoscope"></i>
   </div>
</a>
</div>

<div class="p-col-12 p-md-6 p-xl-3">
  <a href="#" (click)="switchClientExtInfo()">
  <div class="card overview-box-2 pink">
      <div class="overview-info">
          <h6>Payment Terminal Service Providers</h6>
          <h3>7,211</h3>
      </div>
      <i class="pi pi-list"></i>
  </div>
</a>
</div>


<div class="p-col-12 p-md-6 p-xl-3">
  <a href="#" (click)="switchClientExtInfo()">
   <div class="card overview-box-2 blue">
       <div class="overview-info">
           <h6>Card Schemes</h6>
           <h3>5,270</h3>
       </div>
       <i class="fa fa-stethoscope"></i>
   </div>
</a>
</div>


<div class="p-col-12 p-md-6 p-xl-3">
  <a href="#" (click)="switchClientExtInfo()">
   <div class="card overview-box-2 pink">
       <div class="overview-info">
           <h6>Super Agents</h6>
           <h3>5,270</h3>
       </div>
       <i class="fa fa-stethoscope"></i>
   </div>
</a>
</div>


<div class="p-col-12 p-md-6 p-xl-3">
  <a href="C:\Ceedar\New Kp\halg-angular-frontend\src\app\upload\mmo-form.component.html" (click)="switchClientExtInfo()">
   <div class="card overview-box-2 teal">
       <div class="overview-info">
           <h6>Mobile Money Operators</h6>
           <h3>5,270</h3>
       </div>
       <i class="fa fa-stethoscope"></i>
   </div>
</a>
</div>

  </div>
</div>
